<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <title>Ashwamedha</title>
  <style>
    body {
      margin: 0;
      box-sizing: content-box;

      display: flex;
      justify-content: center;

      background: linear-gradient(180deg, 
        #7B6FF2 0%, 
        #7B6FF2 15%, 
        rgba(132, 117, 236, 0.71) 45%, 
        #7B6FF2 75%, 
        rgba(132, 117, 236, 0.71) 100%);
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  </style>
</head>
<body>
  <img src="https://kailasa-bucket1.sgp1.cdn.digitaloceanspaces.com/kailasa-bucket1/homepage/HomePage3.svg" alt="Aswemedha landing page">
</body>
</html>